/* Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like this. */

* {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

main {

}

header {
  height: auto;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1000;
}

nav {
  width: 100%;
  display: inline-block;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 200;
  margin: 0 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}

hgroup {
  position: relative;
  top: 60px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: 200;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25em;
  letter-spacing: -1px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
  text-align: justify;
  margin: 0 auto;
  color: white;
  font-weight: 200;
  line-height: 1.5em;
  text-transform: none;
}

h5 {
  font-size: .8em;
}

h6 {
  font-size: .5em;
}

img {

}

section {
  /* height to be set with jquery to be 100% of window height */
  height: 560px;
  padding: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

form{
  width: 660px;
  margin: 0;
  padding: 0;
  border: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  text-transform: uppercase;
}

label {
  width: 130px;
  margin-right: 20px;
  text-align: right;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 300;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  display: inline-block;
  width: 500px;
}

footer {
  width: 100%;
  height: 100%;
  padding: 20px;
}
