/* Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on. */

/* header specific styles */

#logo {
  max-width: 300px;
  filter: drop-shadow(0px 0px 10px black);
  -webkit-filter: drop-shadow(0px 0px 10px black);
  margin-bottom: 50px;
}

.viewing {
  font-weight: 400;
}

/* "page" specific styles */

#welcome {
  background-image: url('../img/background/photo-1433863448220-78aaa064ff47.jpg');
}

#dashboard {
  background-image: url('../img/background/photo-1447871852826-1c11ef907903.jpg');
  background-position: right;
}

#configure {
  background-image: url('../img/background/photo-1455719103652-8c015f564e2b.jpg');
}

/* dashboard specific styles */

div.location {
  border-radius: 50px;
  background-color: #ddd;
  display: inline-block;
  /*margin: 20px;*/
}

div.current {
  /*width: 100%;*/
  height: 300px;
}

div.favorite {
  width: 100%;
  padding-bottom: 70%;
  /*height: 77px;*/
  background-color: red;
}

/* config specific styles */

#nameAlert, #locationNameAlert, #locationAddressAlert, #locationCityAlert, #locationStateAlert, #locationZipAlert {
  display: none;
  color: red;
}

.btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: 400;
  border-radius: 25px;
  text-transform: uppercase;
  width: 150px;
  margin-left: calc(50% - 75px);
  margin-top: 45px;
}

#nameForm {
  margin-bottom: 40px;
}

#nameform label, #nameForm input {
  width: 100%;
  text-align: center;
  font-weight: 200;
}

#nameForm label{
  font-size: 50px;
  margin-right: 0;
}

#nameForm input {
  display: inline-block;
  font-size: 30px;
}

#nameForm button {
  display: inline-block;
  margin-top: 30px;
}

#locationForm {
  display: none;
}

/* footer specific styles */

footer .smallAndCenter {
  padding: 30px;
}

/*  Form validation error displays */

label.error {
  position: relative;
  display: block;
  font-size: 1em !important;
  color: red !important;
  background-color: rgba(255,255,255,0.6);
  width: 160px;
  text-align: center;
  margin-left: 74px;
}
