/* Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on. */

#logo {
  width: 100%;
  max-width: 300px;
  /*top: 75px;*/
  /*position: relative;

  left: calc(50% - 75px);*/
  filter: drop-shadow(0px 0px 10px black);
  -webkit-filter: drop-shadow(0px 0px 10px black);
}

.viewing {
  font-weight: 400;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  padding: 70px 30px 30px 30px;
}

#welcome {
  background-image: url('../img/background/photo-1433863448220-78aaa064ff47.jpeg');
}

#dashboard {
  background-image: url('../img/background/photo-1447871852826-1c11ef907903.jpeg');
  background-position: right;
}

#configure {
  background-image: url('../img/background/photo-1455719103652-8c015f564e2b.jpeg');
}

div.location {
  border-radius: 50%;
  background-color: #ddd;
  display: inline-block;
  opacity: .2;
}

div.current {
  width: 300px;
  height: 300px;
}

div.favorite {
  width: 77px;
  height: 77px;
  margin: 10px;
}

div.formGoesHere {
  width: 100%;
  height: 100%;
  /*background-color: #ddd;*/
  /*opacity: .2;*/
}


/********************************************************/
/*                       FORMS                          */
/********************************************************/

#nameAlert, #locationNameAlert, #locationAddressAlert, #locationCityAlert, #locationStateAlert, #locationZipAlert {
  display: none;
  color: red;
}


.btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: 400;
  border-radius: 25px;
  text-transform: uppercase;
  width: 150px;
  margin-left: calc(50% - 75px);
  margin-top: 45px;
}
#nameForm{
margin-bottom: 40px;
}

#nameForm label{
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  margin-right: 0;
  width: 100%;
}

#nameForm input {
  width: 100%;
  display: inline-block;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
}

#nameForm button {
  display: inline-block;
  margin-top: 30px;
}

#locationForm {
  display: none;
}

footer img {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

footer .smallAndCenter {
  padding: 30px;
}

header section {
  margin-top: 40px;
}
